# Add the following to your gitignore:

# Instance Sync
**/*.jar
!InstanceSync*.jar
**/*.jar.disabled
**/*.jar.meta

# Optional: Generic Modpack Ignores
**/*.log
/.mixin.out
/saves
/downloads
/resourcepacks
.curseclient
options.txt
journeymap/

fonts/

logs/

valkyrielib/

OpenComputersMod-1.7.5.192-lua52-native.64.dll

OpenComputersMod-1.7.5.192-lua53-native.64.dll

BotaniaVars.dat

usercache.json

usernamecache.json

woot/

asm/

config/jei/worldSettings.cfg

config/brandon3055/ResourceCache/

crash-reports/
